<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.murder.mystery.server.module.player.persistence.PlayerMapper" >
    <resultMap id="BaseResultMap" type="com.murder.mystery.server.module.player.entity.Player" >
        <id       column="id"         property="id"           jdbcType="BIGINT"/>
        <result   column="playerId"   property="player_id"    jdbcType="BIGINT"/>
        <result   column="playerName" property="player_name"  jdbcType="VARCHAR"/>
        <result   column="passward"   property="passward"     jdbcType="VARCHAR"/>
        <result   column="level"      property="level"        jdbcType="INTEGER"/>
        <result   column="exp"        property="exp"          jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id, player_id, player_name, passward, level, exp
    </sql>

    <select id="getPlayerById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List"/>
        FROM player
        where player_id = #{playerId}
    </select>

    <select id="getPlayerByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select 
        <include refid="Base_Column_List"/>
        FROM player
        where player_name = #{playerName}
    </select>
    
    <insert id="createPlayer" parameterType="com.murder.mystery.server.module.player.entity.Player" >
        insert into player
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="playerId != null">
                player_id,
            </if>
            <if test="playerName != null">
                player_name,
            </if>
            <if test="passward != null">
                passward,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="exp != null">
                exp,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="playerId != null" >
                #{playerId,jdbcType=INTEGER},
            </if>
            <if test="playerName != null" >
                #{playerName,jdbcType=VARCHAR},
            </if>
            <if test="passward != null">
                #{passward,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=INTEGER},
            </if>
            <if test="exp != null">
                #{exp,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

</mapper>